---
import { render } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getSortedBlogPosts, getBlogPostNav } from "@/lib/blog";

export const getStaticPaths = async () => {
  const posts = await getSortedBlogPosts();

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
};

const { post } = Astro.props;
const { Content } = await render(post);
const { olderPost } = await getBlogPostNav(post.id);
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <article>
    <h1 class="blog-title">{post.data.title}</h1>
    <h2 class="blog-subtitle">{post.data.subtitle}</h2>

    <div class="blog-content">
      <Content />
    </div>
  </article>

  <div class="footer-div">
    <p class="footer"><a href="/">home</a></p>
    
    {
      olderPost ? (
        <p class="footer">
          <a href={`/blog/${olderPost.id}/`}>prev</a>
        </p>
      ) : <p class="footer">the end<span class="red">;</span></p>
    }
  </div>
</BaseLayout>